<h1>Typography</h1>

<h2>App Typography</h2>

<div class="col"></div>

<hr />

<h2>Material Theme</h2>

<div class="col">
  <div class="typography mat-display-large">mat-display-large {{ loremIpsum }}</div>
  <div class="typography mat-display-medium">mat-display-medium {{ loremIpsum }}</div>
  <div class="typography mat-display-small">mat-display-small {{ loremIpsum }}</div>
  <div class="typography mat-headline-large">mat-headline-large {{ loremIpsum }}</div>
  <div class="typography mat-headline-medium">mat-headline-medium {{ loremIpsum }}</div>
  <div class="typography mat-headline-small">mat-headline-small {{ loremIpsum }}</div>
  <div class="typography mat-title-large">mat-title-large {{ loremIpsum }}</div>
  <div class="typography mat-title-medium">mat-title-medium {{ loremIpsum }}</div>
  <div class="typography mat-title-small">mat-title-small {{ loremIpsum }}</div>
  <div class="typography mat-body-large">mat-body-large {{ loremIpsum }}</div>
  <div class="typography mat-body-medium">mat-body-medium {{ loremIpsum }}</div>
  <div class="typography mat-body-small">mat-body-small {{ loremIpsum }}</div>
  <div class="typography mat-label-large">mat-label-large {{ loremIpsum }}</div>
  <div class="typography mat-label-medium">mat-label-medium {{ loremIpsum }}</div>
  <div class="typography mat-label-small">mat-label-small {{ loremIpsum }}</div>
</div>
