$black: #000000;
$black-two: #2d2d2d;
$black-three: #303030;

$white: #ffffff;
$white-two: #efefef;
$white-three: #e0e0e0;

$blaze-orange: #ff6600;
$bright-navy-blue: #2d7dd2;
$sheen-green: #97cc04;
$selective-yellow: #eeb902;
$outer-space: #474647;

$main-bg-color: $white-two;

$label-color: rgba(255, 255, 255, 0.4);
