html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  font-family: $roboto;
  // background-color: $black-three;
  // color: $white-three;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  animation: fade-in 0.3s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation: none;
  }
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.1rem;
}
h6 {
  font-size: 1rem;
}

hr {
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.25);
  border-width: 0 0 1px 0;
  margin: 1.5rem;
}
