.row {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.center-h {
    justify-content: center;
  }

  &.center-v {
    align-items: center;
  }

  &.center-both {
    align-items: center;
    justify-content: center;
  }

  &.align-baseline {
    align-items: baseline;
  }

  &.align-top {
    align-items: flex-start;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-left {
    justify-content: flex-start;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &.space-between {
    align-items: space-between;
  }

  &.center-h {
    align-items: center;
  }

  &.center-v {
    justify-content: center;
  }

  &.center-both {
    justify-content: center;
    align-items: center;
  }

  &.align-baseline {
    justify-content: baseline;
  }

  &.align-top {
    justify-content: flex-start;
  }

  &.align-right {
    align-items: flex-end;
  }

  &.align-bottom {
    justify-content: flex-end;
  }

  &.align-left {
    align-items: flex-start;
  }
}

$flexes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
@each $flex in $flexes {
  .flex#{$flex} {
    flex: #{$flex};
  }
}

.flex-wrap {
  flex-wrap: wrap;
}
