<h1>Colors</h1>

<h2>App Colors</h2>

<div class="row flex-wrap">
  <div class="col mrl0-5">
    <h3>Gray</h3>

    <div class="row color color-000000">color-000000</div>
    <div class="row color color-00000040">color-00000040</div>
    <div class="row color color-00000033">color-00000033</div>
    <div class="row color color-333333">color-333333</div>
    <div class="row color color-ffffff">color-ffffff</div>
  </div>

  <div class="col mrl0-5">
    <h3>Primary</h3>

    <div class="row color color-004382">color-004382</div>
    <div class="row color color-0160ce">color-0160ce</div>
    <div class="row color color-0a2240">color-0a2240</div>
  </div>

  <div class="col mrl0-5">
    <h3>Secondary</h3>

    <div class="row color color-60606e">color-60606e</div>
    <div class="row color color-e4e5ee">color-e4e5ee</div>
    <div class="row color color-f6f8fb">color-f6f8fb</div>
  </div>

  <div class="col mrl0-5">
    <h3>Success</h3>

    <div class="row color color-217232">color-217232</div>
    <div class="row color color-9dbda4">color-9dbda4</div>
    <div class="row color color-c5d6c8">color-c5d6c8</div>
  </div>

  <div class="col mrl0-5">
    <h3>Error</h3>

    <div class="row color color-b10a24">color-b10a24</div>
    <div class="row color color-d7949f">color-d7949f</div>
    <div class="row color color-e3c0c5">color-e3c0c5</div>
  </div>

  <div class="col mrl0-5">
    <h3>Warning</h3>

    <div class="row color color-ba4d07">color-ba4d07</div>
    <div class="row color color-daae92">color-daae92</div>
    <div class="row color color-e4cec0">color-e4cec0</div>
  </div>

  <div class="col mrl0-5">
    <h3>Info</h3>

    <div class="row color color-015a89">color-015a89</div>
    <div class="row color color-90b4c7">color-90b4c7</div>
    <div class="row color color-bed0da">color-bed0da</div>
  </div>

  <div class="col mrl0-5">
    <h3>Other</h3>

    <div class="row color color-f2f9ff">color-f2f9ff</div>
    <div class="row color color-f9f9f9">color-f9f9f9</div>
    <div class="row color color-f6f8fb">color-f6f8fb</div>
    <div class="row color color-ffff00">color-ffff00</div>
    <div class="row color color-3333ff">color-3333ff</div>
  </div>
</div>

<hr />

<h2>Material Theme</h2>

<div class="row flex-wrap">
  <div class="col mrl0-5">
    <h3>Primary</h3>

    <div class="row color primary-0">Primary-0</div>
    <div class="row color primary-10">Primary-10</div>
    <div class="row color primary-20">Primary-20</div>
    <div class="row color primary-25">Primary-25</div>
    <div class="row color primary-30">Primary-30</div>
    <div class="row color primary-35">Primary-35</div>
    <div class="row color primary-40">Primary-40</div>
    <div class="row color primary-50">Primary-50</div>
    <div class="row color primary-60">Primary-60</div>
    <div class="row color primary-70">Primary-70</div>
    <div class="row color primary-80">Primary-80</div>
    <div class="row color primary-90">Primary-90</div>
    <div class="row color primary-95">Primary-95</div>
    <div class="row color primary-98">Primary-98</div>
    <div class="row color primary-99">Primary-99</div>
    <div class="row color primary-100">Primary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Secondary</h3>

    <div class="row color secondary-0">Secondary-0</div>
    <div class="row color secondary-10">Secondary-10</div>
    <div class="row color secondary-20">Secondary-20</div>
    <div class="row color secondary-25">Secondary-25</div>
    <div class="row color secondary-30">Secondary-30</div>
    <div class="row color secondary-35">Secondary-35</div>
    <div class="row color secondary-40">Secondary-40</div>
    <div class="row color secondary-50">Secondary-50</div>
    <div class="row color secondary-60">Secondary-60</div>
    <div class="row color secondary-70">Secondary-70</div>
    <div class="row color secondary-80">Secondary-80</div>
    <div class="row color secondary-90">Secondary-90</div>
    <div class="row color secondary-95">Secondary-95</div>
    <div class="row color secondary-98">Secondary-98</div>
    <div class="row color secondary-99">Secondary-99</div>
    <div class="row color secondary-100">Secondary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Tertiary</h3>

    <div class="row color tertiary-0">Tertiary-0</div>
    <div class="row color tertiary-10">Tertiary-10</div>
    <div class="row color tertiary-20">Tertiary-20</div>
    <div class="row color tertiary-25">Tertiary-25</div>
    <div class="row color tertiary-30">Tertiary-30</div>
    <div class="row color tertiary-35">Tertiary-35</div>
    <div class="row color tertiary-40">Tertiary-40</div>
    <div class="row color tertiary-50">Tertiary-50</div>
    <div class="row color tertiary-60">Tertiary-60</div>
    <div class="row color tertiary-70">Tertiary-70</div>
    <div class="row color tertiary-80">Tertiary-80</div>
    <div class="row color tertiary-90">Tertiary-90</div>
    <div class="row color tertiary-95">Tertiary-95</div>
    <div class="row color tertiary-98">Tertiary-98</div>
    <div class="row color tertiary-99">Tertiary-99</div>
    <div class="row color tertiary-100">Tertiary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Error</h3>

    <div class="row color error-0">Error-0</div>
    <div class="row color error-10">Error-10</div>
    <div class="row color error-20">Error-20</div>
    <div class="row color error-25">Error-25</div>
    <div class="row color error-30">Error-30</div>
    <div class="row color error-35">Error-35</div>
    <div class="row color error-40">Error-40</div>
    <div class="row color error-50">Error-50</div>
    <div class="row color error-60">Error-60</div>
    <div class="row color error-70">Error-70</div>
    <div class="row color error-80">Error-80</div>
    <div class="row color error-90">Error-90</div>
    <div class="row color error-95">Error-95</div>
    <div class="row color error-98">Error-98</div>
    <div class="row color error-99">Error-99</div>
    <div class="row color error-100">Error-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Neutral</h3>

    <div class="row color neutral-0">Neutral-0</div>
    <div class="row color neutral-10">Neutral-10</div>
    <div class="row color neutral-20">Neutral-20</div>
    <div class="row color neutral-25">Neutral-25</div>
    <div class="row color neutral-30">Neutral-30</div>
    <div class="row color neutral-35">Neutral-35</div>
    <div class="row color neutral-40">Neutral-40</div>
    <div class="row color neutral-50">Neutral-50</div>
    <div class="row color neutral-60">Neutral-60</div>
    <div class="row color neutral-70">Neutral-70</div>
    <div class="row color neutral-80">Neutral-80</div>
    <div class="row color neutral-90">Neutral-90</div>
    <div class="row color neutral-95">Neutral-95</div>
    <div class="row color neutral-98">Neutral-98</div>
    <div class="row color neutral-99">Neutral-99</div>
    <div class="row color neutral-100">Neutral-100</div>
    <div class="row color neutral-4">Neutral-4</div>
    <div class="row color neutral-6">Neutral-6</div>
    <div class="row color neutral-12">Neutral-12</div>
    <div class="row color neutral-17">Neutral-17</div>
    <div class="row color neutral-22">Neutral-22</div>
    <div class="row color neutral-24">Neutral-24</div>
    <div class="row color neutral-87">Neutral-87</div>
    <div class="row color neutral-92">Neutral-92</div>
    <div class="row color neutral-94">Neutral-94</div>
    <div class="row color neutral-96">Neutral-96</div>
  </div>

  <div class="col mrl0-5">
    <h3>Neutral Variant</h3>

    <div class="row color neutral-variant-0">Neutral-Variant-0</div>
    <div class="row color neutral-variant-10">Neutral-Variant-10</div>
    <div class="row color neutral-variant-20">Neutral-Variant-20</div>
    <div class="row color neutral-variant-25">Neutral-Variant-25</div>
    <div class="row color neutral-variant-30">Neutral-Variant-30</div>
    <div class="row color neutral-variant-35">Neutral-Variant-35</div>
    <div class="row color neutral-variant-40">Neutral-Variant-40</div>
    <div class="row color neutral-variant-50">Neutral-Variant-50</div>
    <div class="row color neutral-variant-60">Neutral-Variant-60</div>
    <div class="row color neutral-variant-70">Neutral-Variant-70</div>
    <div class="row color neutral-variant-80">Neutral-Variant-80</div>
    <div class="row color neutral-variant-90">Neutral-Variant-90</div>
    <div class="row color neutral-variant-95">Neutral-Variant-95</div>
    <div class="row color neutral-variant-98">Neutral-Variant-98</div>
    <div class="row color neutral-variant-99">Neutral-Variant-99</div>
    <div class="row color neutral-variant-100">Neutral-Variant-100</div>
  </div>
</div>

<hr />

<h2>Applied Theme Colors</h2>

<div class="row flex-wrap">
  <div class="col mrl0-5"></div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #0000001a">
      <span style="background: #ffffff66">#0000001a</span>
    </div>
    <div class="row color" style="background: #0000001f">
      <span style="background: #ffffff66">#0000001f</span>
    </div>
    <div class="row color" style="background: #00000024">
      <span style="background: #ffffff66">#00000024</span>
    </div>
    <div class="row color" style="background: #00000033">
      <span style="background: #ffffff66">#00000033</span>
    </div>
    <div class="row color" style="background: #00000052">
      <span style="background: #ffffff66">#00000052</span>
    </div>
    <div class="row color" style="background: #000002">
      <span style="background: #ffffff66">#000002</span>
    </div>
    <div class="row color" style="background: #0000021f">
      <span style="background: #ffffff66">#0000021f</span>
    </div>
    <div class="row color" style="background: #00000224">
      <span style="background: #ffffff66">#00000224</span>
    </div>
    <div class="row color" style="background: #00000233">
      <span style="background: #ffffff66">#00000233</span>
    </div>
    <div class="row color" style="background: #00006e">
      <span style="background: #ffffff66">#00006e</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #00006e1f">
      <span style="background: #ffffff66">#00006e1f</span>
    </div>
    <div class="row color" style="background: #002020">
      <span style="background: #ffffff66">#002020</span>
    </div>
    <div class="row color" style="background: #0020201f">
      <span style="background: #ffffff66">#0020201f</span>
    </div>
    <div class="row color" style="background: #006a6a">
      <span style="background: #ffffff66">#006a6a</span>
    </div>
    <div class="row color" style="background: #006a6a0d">
      <span style="background: #ffffff66">#006a6a0d</span>
    </div>
    <div class="row color" style="background: #006a6a1f">
      <span style="background: #ffffff66">#006a6a1f</span>
    </div>
    <div class="row color" style="background: #006a6a33">
      <span style="background: #ffffff66">#006a6a33</span>
    </div>
    <div class="row color" style="background: #006a6a61">
      <span style="background: #ffffff66">#006a6a61</span>
    </div>
    <div class="row color" style="background: #00fbfb">
      <span style="background: #ffffff66">#00fbfb</span>
    </div>
    <div class="row color" style="background: #191a2c">
      <span style="background: #ffffff66">#191a2c</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #1b1b1f">
      <span style="background: #ffffff66">#1b1b1f</span>
    </div>
    <div class="row color" style="background: #1b1b1f0a">
      <span style="background: #ffffff66">#1b1b1f0a</span>
    </div>
    <div class="row color" style="background: #1b1b1f14">
      <span style="background: #ffffff66">#1b1b1f14</span>
    </div>
    <div class="row color" style="background: #1b1b1f1a">
      <span style="background: #ffffff66">#1b1b1f1a</span>
    </div>
    <div class="row color" style="background: #1b1b1f1f">
      <span style="background: #ffffff66">#1b1b1f1f</span>
    </div>
    <div class="row color" style="background: #1b1b1f61">
      <span style="background: #ffffff66">#1b1b1f61</span>
    </div>
    <div class="row color" style="background: #303034">
      <span style="background: #ffffff66">#303034</span>
    </div>
    <div class="row color" style="background: #30303414">
      <span style="background: #ffffff66">#30303414</span>
    </div>
    <div class="row color" style="background: #3030341f">
      <span style="background: #ffffff66">#3030341f</span>
    </div>
    <div class="row color" style="background: #30303866">
      <span style="background: #ffffff66">#30303866</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #343dff">
      <span style="background: #ffffff66">#343dff</span>
    </div>
    <div class="row color" style="background: #343dff0d">
      <span style="background: #ffffff66">#343dff0d</span>
    </div>
    <div class="row color" style="background: #343dff1f">
      <span style="background: #ffffff66">#343dff1f</span>
    </div>
    <div class="row color" style="background: #343dff33">
      <span style="background: #ffffff66">#343dff33</span>
    </div>
    <div class="row color" style="background: #343dff61">
      <span style="background: #ffffff66">#343dff61</span>
    </div>
    <div class="row color" style="background: #410002">
      <span style="background: #ffffff66">#410002</span>
    </div>
    <div class="row color" style="background: #46464f">
      <span style="background: #ffffff66">#46464f</span>
    </div>
    <div class="row color" style="background: #46464f1f">
      <span style="background: #ffffff66">#46464f1f</span>
    </div>
    <div class="row color" style="background: #5c5d72">
      <span style="background: #ffffff66">#5c5d72</span>
    </div>
    <div class="row color" style="background: #777680">
      <span style="background: #ffffff66">#777680</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #ba1a1a">
      <span style="background: #ffffff66">#ba1a1a</span>
    </div>
    <div class="row color" style="background: #ba1a1a0d">
      <span style="background: #ffffff66">#ba1a1a0d</span>
    </div>
    <div class="row color" style="background: #ba1a1a1f">
      <span style="background: #ffffff66">#ba1a1a1f</span>
    </div>
    <div class="row color" style="background: #ba1a1a33">
      <span style="background: #ffffff66">#ba1a1a33</span>
    </div>
    <div class="row color" style="background: #ba1a1a61">
      <span style="background: #ffffff66">#ba1a1a61</span>
    </div>
    <div class="row color" style="background: #bec2ff">
      <span style="background: #ffffff66">#bec2ff</span>
    </div>
    <div class="row color" style="background: #c7c5d0">
      <span style="background: #ffffff66">#c7c5d0</span>
    </div>
    <div class="row color" style="background: #e0e0ff">
      <span style="background: #ffffff66">#e0e0ff</span>
    </div>
    <div class="row color" style="background: #e1e0f9">
      <span style="background: #ffffff66">#e1e0f9</span>
    </div>
    <div class="row color" style="background: #e4e1ec">
      <span style="background: #ffffff66">#e4e1ec</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #ebe7ec">
      <span style="background: #ffffff66">#ebe7ec</span>
    </div>
    <div class="row color" style="background: #f0ecf1">
      <span style="background: #ffffff66">#f0ecf1</span>
    </div>
    <div class="row color" style="background: #f3eff4">
      <span style="background: #ffffff66">#f3eff4</span>
    </div>
    <div class="row color" style="background: #f6f2f7">
      <span style="background: #ffffff66">#f6f2f7</span>
    </div>
    <div class="row color" style="background: #ffdad6">
      <span style="background: #ffffff66">#ffdad6</span>
    </div>
    <div class="row color" style="background: #fffbfd">
      <span style="background: #ffffff66">#fffbfd</span>
    </div>
    <div class="row color" style="background: #fffffa">
      <span style="background: #ffffff66">#fffffa</span>
    </div>
    <div class="row color" style="background: #fffffa1f">
      <span style="background: #ffffff66">#fffffa1f</span>
    </div>
    <div class="row color" style="background: #fffffb">
      <span style="background: #ffffff66">#fffffb</span>
    </div>
    <div class="row color" style="background: #fffffb1f">
      <span style="background: #ffffff66">#fffffb1f</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #ffffff">
      <span style="background: #ffffff66">#ffffff</span>
    </div>
    <div class="row color" style="background: #ffffff1f">
      <span style="background: #ffffff66">#ffffff1f</span>
    </div>
  </div>
</div>
