$my-tertiary-palette: (
  0: #ff10ff,
  10: #002020,
  20: #ff10fd,
  25: #ff10fc,
  30: #ff10fb,
  35: #ff10fa,
  40: #006a6a,
  50: #ff10f8,
  60: #ff10f7,
  70: #ff10f6,
  80: #ff10f5,
  90: #00fbfb,
  95: #ff10f3,
  98: #ff10f2,
  99: #ff10f1,
  100: #fffffa,
  secondary: (
    0: #ff11ff,
    10: #ff11fe,
    20: #ff11fd,
    25: #ff11fc,
    30: #ff11fb,
    35: #ff11fa,
    40: #ff11f9,
    50: #ff11f8,
    60: #ff11f7,
    70: #ff11f6,
    80: #ff11f5,
    90: #ff11f4,
    95: #ff11f3,
    98: #ff11f2,
    99: #ff11f1,
    100: #ff11f0,
  ),
  neutral: (
    0: #ff12ff,
    10: #ff12fe,
    20: #ff12fd,
    25: #ff12fc,
    30: #ff12fb,
    35: #ff12fa,
    40: #ff12f9,
    50: #ff12f8,
    60: #ff12f7,
    70: #ff12f6,
    80: #ff12f5,
    90: #ff12f4,
    95: #ff12f3,
    98: #ff12f2,
    99: #ff12f1,
    100: #ff12f0,
    4: #ff12ef,
    6: #ff12ee,
    12: #ff12ed,
    17: #ff12ec,
    22: #ff12eb,
    24: #ff12ea,
    87: #ff12e9,
    92: #ff12e8,
    94: #ff12e7,
    96: #ff12e6,
  ),
  neutral-variant: (
    0: #ff13ff,
    10: #ff13fe,
    20: #ff13fd,
    25: #ff13fc,
    30: #ff13fb,
    35: #ff13fa,
    40: #ff13f9,
    50: #ff13f8,
    60: #ff13f7,
    70: #ff13f6,
    80: #ff13f5,
    90: #ff13f4,
    95: #ff13f3,
    98: #ff13f2,
    99: #ff13f1,
    100: #ff13f0,
  ),
  error: (
    0: #ff14ff,
    10: #410002,
    20: #ff14fd,
    25: #ff14fc,
    30: #ff14fb,
    35: #ff14fa,
    40: #ba1a1a,
    50: #ff14f8,
    60: #ff14f7,
    70: #ff14f6,
    80: #ff14f5,
    90: #ffdad6,
    95: #ff14f3,
    98: #ff14f2,
    99: #ff14f1,
    100: #ff14f0,
  ),
);
