$my-primary-palette: (
  0: #ff00ff,
  10: #00006e,
  20: #ff00fd,
  25: #ff00fc,
  30: #ff00fb,
  35: #ff00fa,
  40: #343dff,
  50: #ff00f8,
  60: #ff00f7,
  70: #ff00f6,
  80: #bec2ff,
  90: #e0e0ff,
  95: #ff00f3,
  98: #ff00f2,
  99: #ff00f1,
  100: #ffffff,
  secondary: (
    0: #ff01ff,
    10: #191a2c,
    20: #ff01fd,
    25: #ff01fc,
    30: #ff01fb,
    35: #ff01fa,
    40: #5c5d72,
    50: #ff01f8,
    60: #ff01f7,
    70: #ff01f6,
    80: #ff01f5,
    90: #e1e0f9,
    95: #ff01f3,
    98: #ff01f2,
    99: #ff01f1,
    100: #ff01f0,
  ),
  neutral: (
    0: #000002,
    10: #1b1b1f,
    20: #303034,
    25: #ff02fc,
    30: #ff02fb,
    35: #ff02fa,
    40: #ff02f9,
    50: #ff02f8,
    60: #ff02f7,
    70: #ff02f6,
    80: #ff02f5,
    90: #ff02f4,
    95: #f3eff4,
    98: #ff02f2,
    99: #fffbfd,
    100: #ff02f0,
    4: #ff02ef,
    6: #ff02ee,
    12: #ff02ed,
    17: #ff02ec,
    22: #ff02eb,
    24: #ff02ea,
    87: #ff02e9,
    92: #ebe7ec,
    94: #f0ecf1,
    96: #f6f2f7,
  ),
  neutral-variant: (
    0: #ff03ff,
    10: #ff03fe,
    20: #ff03fd,
    25: #ff03fc,
    30: #46464f,
    35: #ff03fa,
    40: #ff03f9,
    50: #777680,
    60: #ff03f7,
    70: #ff03f6,
    80: #c7c5d0,
    90: #e4e1ec,
    95: #ff03f3,
    98: #ff03f2,
    99: #ff03f1,
    100: #ff03f0,
  ),
  error: (
    0: #ff04ff,
    10: #410002,
    20: #ff04fd,
    25: #ff04fc,
    30: #ff04fb,
    35: #ff04fa,
    40: #ba1a1a,
    50: #ff04f8,
    60: #ff04f7,
    70: #ff04f6,
    80: #ff04f5,
    90: #ffdad6,
    95: #ff04f3,
    98: #ff04f2,
    99: #ff04f1,
    100: #fffffb,
  ),
);
